# Archivos de Visual Studio, Rider y otros IDEs
.vs/
*.suo
*.user
*.userprefs
*.sln.docstates

# Binarios de compilación y archivos intermedios
[Bb]in/
[Oo]bj/
*.pdb
*.orig
*.log

# Archivos de paquetes de NuGet
[Pp]ackages/
*.nupkg
.nuget/
.nu/
project.lock.json
project.assets.json
*.cache

# Archivos de configuración de usuario
appsettings.Development.json
appsettings.Production.json
appsettings.Staging.json

# Archivos de prueba
TestResults/
*.trx
*.dll.tdnet

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Kestrel y IIS Express
temp/